<mat-table #table [dataSource]="dataSource" matSort matSortActive="flightId" matSortDirection="asc"
           matSortDisableClear>

  <ng-container matColumnDef="favorite">
    <mat-header-cell *matHeaderCellDef fxFlex="5" mat-sort-header>&nbsp;</mat-header-cell>
    <mat-cell *matCellDef="let row" fxFlex="5">
      <button (click)="updateFavorite(row.id, !row.favorite)" mat-icon-button>
        @if (row.favorite) {
          <mat-icon>favorite</mat-icon>
        }
        @if (!row.favorite) {
          <mat-icon>favorite_border</mat-icon>
        }
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef fxFlex="10" mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let row" fxFlex="10">{{ row.id }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef fxFlex="40" mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let row;" fxFlex="40"> {{ row.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="iata">
    <mat-header-cell *matHeaderCellDef fxFlex="15" mat-sort-header>IATA</mat-header-cell>
    <mat-cell *matCellDef="let row;" fxFlex="15"> {{ row.iata }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="icao">
    <mat-header-cell *matHeaderCellDef fxFlex="15" mat-sort-header>ICAO</mat-header-cell>
    <mat-cell *matCellDef="let row;" fxFlex="15"> {{ row.icao }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="callsign">
    <mat-header-cell *matHeaderCellDef fxFlex="15" mat-sort-header>Callsign</mat-header-cell>
    <mat-cell *matCellDef="let row;" fxFlex="15"> {{ row.callsign }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<mat-paginator #paginator
               [length]="dataSource.data.length"
               [pageIndex]="0"
               [pageSizeOptions]="[5,10,25,100]"
               [pageSize]="5"
               [showFirstLastButtons]="true">

</mat-paginator>
